.content {
    background: rgba(0, 0, 0, .55);
    padding: 14px 16px;
    border-radius: 10px
}

.maps-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    gap: 12px
}

.map-card {
    position: relative;
    background: rgba(10, 15, 25, .75);
    border: 1px solid rgba(255, 255, 255, .12);
    border-radius: 8px;
    overflow: hidden;
    transition: .3s
}

.map-thumb img {
    display: block;
    width: 100%;
    height: 205px
}

.map-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 12px
}

.map-meta h3 {
    margin: 0;
    font-size: 14px
}

.wait {
    margin: 4px 0 0;
    font-size: 12px;
    opacity: .85
}

.map-check {
    display: none
}

.badge {
    width: 28px;
    height: 28px;
    background: rgba(0, 0, 0, .7);
    display: flex;
    color: rgba(0, 0, 0, .7);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    transition: .3s
}

.map-check:checked~.map-meta .badge {
    background: #f3ac13;
    color: #000
}

.map-check:checked~* {
    box-shadow: 0 0 15px #f3ac13
}

.note {
    margin-top: 14px;
    opacity: .9
}